.navbar-1 {
  width: 100%;
  background: #2c3e50;

  box-sizing: border-box;
  padding: 20px 0 0;

}
.navbar-1 ul {
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 960px;
  align-items: center;
}
.title-1 {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
  color: #fff
}
.navbar-1 button, .navbar-1 a {
  margin-left: 16px;
}
.navbar-1 a {
  color: #fff;
  text-decoration: none;
}
.navbar-1 li {
  color: #fff;
  text-decoration: none;
}
